html{
    scroll-behavior: smooth;
}



.wrapper{
    max-width: 1440px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}




                                            // HEADER




@mixin nav_links{
    color: rgb(75, 81, 98);
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 122%;
    letter-spacing: 0%;
    text-align: center;
    }

.header{
    display: flex;
    justify-content: space-between;
    padding: 30px;

    @media screen and (max-width: 630px) {
        display: flex;
        flex-direction: column;
    }

    .logo{
        margin: 10px 60px 0px 0px;
        padding-left: 15px;
        height: 40px;

        @media screen and (max-width: 1125px) {
        }

        @media screen and (max-width: 995px) {
            margin: 0px 15px;
        }

        @media screen and (max-width: 1260px) {
            margin: 10px 10px;
        }

        @media screen and (max-width: 530px) {
            margin: 0px;
        }
    }

    .logo:hover{
        border:2px dashed lightgray;
        
    }

    .nav_display{
        padding-top: 20px;

        .nav_links{
            cursor: pointer;
            margin-right: 54px;
            @include nav_links;

            @media screen and (max-width: 1125px) {
                margin: 0px 15px;
            }

            @media screen and (max-width: 1260px) {
                margin: 0px 5px;
            }

            @media screen and (max-width: 1246px) {
               display: none;
            }
        }
    }

    .header_btn_display{
        padding-top: 10px;

        .header_btn1_style{
            width: 127px;
            height: 44px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            background: none;
            border: 1px solid rgb(182, 209, 251);
            color: rgb(56, 127, 245);
            font-family: DM Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 126%;
            letter-spacing: 0%;
            transition: transform 1s ease;
            margin-right: 10px;

            @media screen and (max-width: 493px) {
                margin-bottom: 15px;
            }
            @media screen and (max-width: 1260px) {
                margin-left: 10px;
            }
        }

        .header_btn1_style:hover{
            transform: scale(1.1);
        }

        .header_btn2_style{
            width: 177px;
            height: 44px;
            cursor: pointer;
            border-radius: 8px;
            border: none;
            background: rgb(56, 127, 245);
            color: rgb(255, 255, 255);
            font-family: DM Sans;
            font-size: 14px;
            font-weight: 700;
            line-height: 126%;
            letter-spacing: 0%;
            transition: transform 1s ease;

            @media screen and (max-width: 493px) {
                margin-left: 10px;
            }
        }

        .header_btn2_style:hover{
            border: 1px solid rgb(182, 209, 251);
            transform: scale(1.1);
        }
    }
}

.burger{
    margin: 50px;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 1246px) {
        display: block;
    }
}


.hr_style{
    color: lightgray;
    width: 1400px;

    @media screen and (max-width: 1410px) {
        width: 1200px;
    }

    @media screen and (max-width: 1215px) {
        width: 1100px;
    }

    @media screen and (max-width: 1110px) {
        width: 1000px;
    }

    @media screen and (max-width: 1010px) {
        width: 900px;
    }

    @media screen and (max-width: 910px) {
        width: 800px;
    }

    @media screen and (max-width: 810px) {
        width: 700px;
    }

    @media screen and (max-width: 710px) {
        width: 600px;
    }

    @media screen and (max-width: 605px) {
        width: 500px;
    }

    @media screen and (max-width: 550px) {
        width: 400px;
    }

    @media screen and (max-width: 406px) {
        width: 340px;
    }

    @media screen and (max-width: 340px) {
        width: 280px;
    }
}


// FIXED BLOCK (BURGER)

    .random_block{
        width: 90%;
        height: 90%;
        display: none;
        margin: 0 auto;
        justify-content: center;
        flex-direction: column;
        z-index: 1000;
        border: 2px solid rgb(182, 209, 251);
        background: white;
        border-radius: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .close{
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 35px;
            margin: 20px 30px;
        
            @media screen and (max-width: 568px) {
                margin: 20px 20px;
            }
        }
    


    .nav_links_1{
        color: rgb(56, 127, 245);
        cursor: pointer;
        font-family: DM Sans;
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 380px) {
            font-size: 45px;
        }
    }
    .nav_links_2{
        color: rgb(56, 127, 245);
        cursor: pointer;
        font-family: DM Sans;
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 380px) {
            font-size: 45px;
        }
    }
    .nav_links_3{
        color: rgb(56, 127, 245);
        cursor: pointer;
        font-family: DM Sans;
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 380px) {
            font-size: 45px;
        }
    }
    .nav_links_4{
        color: rgb(56, 127, 245);
        cursor: pointer;
        font-family: DM Sans;
        font-size: 50px;
        margin-bottom: 50px;
        text-align: center;

        @media screen and (max-width: 380px) {
            font-size: 45px;
        }
    }
}

// SECTION #1

.section_1{
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    gap: 200px;

    @media screen and (max-width: 340px) {
        margin-left: 50px;
    }

    .section_1_first_btn{
        margin-top: 150px;
        background: none;
        border: 1px solid rgb(182, 188, 205);
        border-radius: 50px;
        color: rgb(75, 81, 98);
        font-family: Inter;
        font-size: 15px;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        transition: transform 1s ease; 

        @media screen and (max-width: 330px) {
            display: none;
        }
        
        @media screen and (max-width: 420px) {
            width: 300px;
        }

        .section_1_first_btn_content{
            align-items: center;
            margin: 3px 10px 0px 10px;
            .star{
                width: 17px;
                align-items: center;
            }
        }
    }
    .section_1_first_btn:hover{
        transform: scale(1.04);
    }

    .section_1_title{
        margin-top: 20px;
        font-family: DM Sans;
        font-size: 48px;
        font-weight: 700;
        line-height: 116%;
        letter-spacing: 0%;
        text-align: left;

        @media screen and (max-width: 944px) {
            width: 350px;   
           }

        .blue_text{
            color: rgb(42, 136, 244);
        }
    }

    .section_1_par{
        margin-top: 20px;
        color: rgb(75, 81, 98);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: left;

        @media screen and (max-width: 946px) {
            width: 300px;
           }
    }

    .section_1_second_btn{
        margin: 20px 12px 0px 0px;
        color: rgb(255, 255, 255);
        background: none;
        border: none;
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 122%;
        letter-spacing: 0%;
        text-align: center;
        background: rgb(56, 127, 245);
        border-radius: 15px;
        width: 203px;
        height: 48px;
        transition: transform 1s ease;
        margin-bottom: 20px;
    }

    .section_1_second_btn:hover{
        transform: scale(1.08);
    }

    .section_1_third_btn{
        color: rgb(52, 56, 68);
        font-family: DM Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 122%;
        letter-spacing: 0%;
        text-align: center;
        background: none;
        border: 1px solid rgb(210, 213, 226);
        border-radius: 15px;
        width: 177px;
        height: 48px;
        transition: transform 1s ease;
        margin-bottom: 230px;

        @media screen and (max-width: 973px) {
            margin-right: 15px;   
           }

           @media screen and (max-width: 900px) {
            margin-bottom: 100px;   
           }

           .play{
            padding-right: 8px;
           }
    }



    .section_1_third_btn:hover{
        transform: scale(1.08);
    }


    .section_1_img{

        @media screen and (max-width: 900px) {
            display: none;
           }
        
        .section_1_first_img{
            margin: 85px 0px 0px 0px;
            padding: 0px 30px 25px 0px;
            transition: transform 1s ease;

            @media screen and (max-width: 970px) {
                margin-top: 160px; 
               }
        }

        .section_1_first_img:hover{
            transform: scale(1.1);
        }

        .section_1_second_img{
            padding: 0px 30px 25px 0px;
            transition: transform 1s ease;

            @media screen and (max-width: 1408px) {
                display: none;   
               }
        }

        .section_1_second_img:hover{
            transform: scale(1.1);
        }

        .section_1_third_img{
            padding: 0px 28px 0px 0px;
            transition: transform 1s ease;

            @media screen and (max-width: 1408px) {
                display: none;   
               }
        }

        .section_1_third_img:hover{
            transform: scale(1.1);
        }

        .section_1_fourth_img{
            transition: transform 1s ease;
        }

        .section_1_fourth_img:hover{
            transform: scale(1.1);
        }
    }
}

// SECTION #2

.section_2{
    

    .section_2_par{
        color: rgb(75, 81, 98);
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (max-width: 746px) {
            width: 350px;
            text-align: center;
           }

           @media screen and (max-width: 420px) {
            width: 250px;
            text-align: center;
           }
    }

    .section_2_logo{
        display: flex;
        justify-content: space-between;
        gap: 50px;

        @media screen and (max-width: 420px) {
           align-items: center;
           margin: 0 auto;
           }

         @media screen and (max-width: 800px) {
             display: block;
             flex-direction: column;
             text-align: center;
            }

        .section_2_bear_logo{
            transition: transform 1s ease;

            @media screen and (max-width: 800px) {
                padding-bottom: 15px;
               }
        }

        .section_2_bear_logo:hover{
            transform: scale(1.2);
        }

        .section_2_but_logo{
            transition: transform 1s ease;

            @media screen and (max-width: 800px) {
                padding-bottom: 15px;
               }
        }

        .section_2_but_logo:hover{
            transform: scale(1.2);
        }

        .section_2_earth_logo{
            transition: transform 1s ease;

            @media screen and (max-width: 800px) {
                padding-bottom: 15px;
               }
        }

        .section_2_earth_logo:hover{
            transform: scale(1.2);
        }

        .section_2_xz_logo{
            margin-top: 10px;
            transition: transform 1s ease;

            @media screen and (max-width: 800px) {
                padding-bottom: 15px;
               }
        }

        .section_2_xz_logo:hover{
            transform: scale(1.2);
        }

        .section_2_circle_logo{
            margin-top: 5px;
            transition: transform 1s ease;

            @media screen and (max-width: 800px) {
                padding-bottom: 15px;
               }

            @media screen and (max-width: 930px) {
                display: none;
               }
        }

        .section_2_circle_logo:hover{
            transform: scale(1.2);
        }
    }
}

// SECTION #3

    // SECTION #3 FIRST

.section_3{
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    gap: 200px;

    @media screen and (max-width: 1300px) {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        gap: 100px;
       }

       @media screen and (max-width: 1200px) {
        display: flex;
        justify-content: space-between;
        gap: 20px;
       }

       @media screen and (max-width: 1115px) {
        display: flex;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
       }
       

    .section_3_first_btn{
        color: rgb(75, 81, 98);
        font-family: Inter;
        font-size: 16px;
        font-weight: 500;
        line-height: 160%;
        letter-spacing: 0%;
        text-align: center;
        background: none;
        width: 161px;
        height: 26px;
        border-radius: 30px;
        border: 1px solid rgb(182, 188, 205);
        transition: transform 1s ease;
    }

    .section_3_first_btn:hover{
        transform: scale(1.1);
    }

    .section_3_osnova_title{
        padding: 16px 0px 96px 0px;
        color: rgb(28, 31, 37);
        font-family: DM Sans;
        font-size: 39px;
        font-weight: 700;
        line-height: 116%;
        letter-spacing: 0%;
        text-align: left;
        width: 508px;

        @media screen and (max-width: 1115px) {
            display: flex;
            align-items: center;
            text-align: center; 
           }

        @media screen and (max-width: 600px) {
            display: flex;
            align-items: center;
            text-align: center;
            width: 250px;   
            margin-left: 110px;
           }
    }

    .section_3_first_div{
        width: 465px;
        height: 100px;
        margin-bottom: 20px;
        border: none;
        border: 1px solid transparent;
        border-radius: 12px;
        transition: border-color 0.5s ease;

        @media screen and (max-width: 1115px) {
            display: flex;
            align-items: center;
            text-align: center; 
            margin: 0 auto;
           }

           @media screen and (max-width: 500px) {
            display: flex;
            align-items: center;
            text-align: center; 
            margin: 0 auto;
           }

        

        .section_3_first_div_display{
            padding: 10px;

            


            .third_1_title{
                color: rgb(28, 31, 37);
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
            }

            

    
            .third_1_icon{
                color: aqua;
            }
    
            .third_1_par{
                color: rgb(75, 81, 98);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
                width: 452px;

                    @media screen and (max-width: 500px) {
                        display: flex;
                        align-items: center;
                        text-align: left; 
                        margin: 0 auto;      
                        width: 300px;
                   }
            }
        } 
    }

    .section_3_first_div:hover{
        border: 1px solid rgb(56, 127, 245);
        border-radius: 12px;
    }

    // SECTION #3 SECOND
     
    .section_3_second_div{
        width: 465px;
        height: 100px;
        margin-bottom: 20px;
        border: none;
        border: 1px solid transparent;
        border-radius: 12px;
        transition: border-color 0.5s ease;

        @media screen and (max-width: 1115px) {
            display: flex;
            align-items: center;
            text-align: center; 
            margin: 0 auto;
           }


        .section_3_second_div_display{
            padding: 10px;


            .third_2_title{
                color: rgb(28, 31, 37);
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;

                
            }
    
            .third_2_icon{
                color: rgb(52, 56, 68);
                padding-right: 3px;
                width: 18px;
            }
    
            .third_2_par{
                color: rgb(75, 81, 98);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
                width: 452px;
            }
        } 
    }

    .section_3_second_div:hover{
        border: 1px solid rgb(56, 127, 245);
        border-radius: 12px;
    }

    // SECTION #3 THIRD
    
    .section_3_third_div{
        width: 465px;
        height: 100px;
        margin-bottom: 20px;
        border: none;
        border: 1px solid transparent;
        border-radius: 12px;
        transition: border-color 0.5s ease;

        @media screen and (max-width: 1115px) {
            display: flex;
            align-items: center;
            text-align: center; 
            margin: 0 auto;
           }
        

        .section_3_third_div_display{
            padding: 10px;


            .third_3_title{
                color: rgb(28, 31, 37);
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
            }
    
            .third_2_icon{
                color: rgb(52, 56, 68);
                padding-right: 3px;
                width: 18px;
            }
    
            .third_3_par{
                color: rgb(75, 81, 98);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
                width: 452px;

            }
        } 
    }

    .section_3_third_div:hover{
        border: 1px solid rgb(56, 127, 245);
        border-radius: 12px;
    }

    // SECTION #3 FOURTH

    .section_3_fourth_div{
        width: 465px;
        height: 100px;
        margin-bottom: 20px;
        border: none;
        border: 1px solid transparent;
        border-radius: 12px;
        transition: border-color 0.5s ease;

        @media screen and (max-width: 1115px) {
            display: flex;
            align-items: center;
            text-align: center; 
            margin: 0 auto;
           }
        

        .section_3_fourth_div_display{
            padding: 10px;


            .third_4_title{
                color: rgb(28, 31, 37);
                font-family: Inter;
                font-size: 16px;
                font-weight: 600;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;

            }
    
            .third_2_icon{
                color: rgb(52, 56, 68);
                padding-right: 3px;
                width: 18px;
            }
    
            .third_4_par{
                color: rgb(75, 81, 98);
                font-family: Inter;
                font-size: 16px;
                font-weight: 400;
                line-height: 160%;
                letter-spacing: 0%;
                text-align: left;
                width: 452px;
            }
        } 
    }

    .section_3_fourth_div:hover{
        border: 1px solid rgb(56, 127, 245);
        border-radius: 12px;
    }

    // SECTION #3 END

    .third_right_div{
        

        .third_right_par{
            color: rgb(75, 81, 98);
            font-family: Inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 160%;
            letter-spacing: 0%;
            text-align: left;
            width: 476px;
            margin: 0px 0px 20px 0px;

            @media screen and (max-width: 550px) {
                width: 210px;
                display: flex;
                align-items: center;
                text-align: center; 
                margin: 0 auto;
               }

            @media screen and (max-width: 1115px) {
                display: flex;
                align-items: center;
                text-align: center; 
                margin: 0 auto;
                padding-bottom: 15px;
               }

               
        }

        .third_right_1btn{
            color: rgb(255, 255, 255);
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 122%;
            letter-spacing: 0%;
            text-align: center;
            border: none;
            width: 147px;
            height: 48px;
            border-radius: 12px;
            background: rgb(56, 127, 245);
            margin: 0px 12px 84px 0px;
            transition: transform 1s ease;
        }

        .third_right_1btn:hover{
            transform: scale(1.1);
        }

        .third_right_2btn{
            color: rgb(56, 127, 245);
            font-family: DM Sans;
            font-size: 16px;
            font-weight: 700;
            line-height: 122%;
            letter-spacing: 0%;
            text-align: center;
            border: 1px solid rgb(182, 209, 251);
            border-radius: 12px;
            background: rgb(255, 255, 255);
            width: 128px;
            height: 48px;
            transition: transform 1s ease;
        }

        .third_right_2btn:hover{
            transform: scale(1.1);
        }
       
        .third_right{
            background-image: url(/img/third_bgimg.png);
            height: 524px;
            width: 575px;
            border-radius: 15px;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 1115px) {
                display: none;
            }

            .third_right_img_but{
                color: rgb(28, 31, 37);
                font-family: Inter;
                font-size: 23px;
                font-weight: 500;
                line-height: 158%;
                letter-spacing: 0%;
                text-align: center;
                border: none;
                width: 320px;
                height: 63px;
                border-radius: 30px;
                position: relative;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 10px 0px 0px 9px;
            }

        }
    } 
}
