@import 'variable';

html{
    scroll-behavior: smooth;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin text($fw, $fs, $fcol){
    font-weight: $fw;
    font-size: $fs;
    color: $fcol;
}

body{
    font-family: Outfit;
}

.wrapper{
    width: 1320px;
    margin: 0 auto;
}

                                            //   HEADER

.header{
    height: 126px;
    display: flex;
    border-bottom: 1px solid $bgcolor;


    .header_left{
        @include flex-center;
        border-right: 1px solid $bgcolor;

        .header_left_logo{
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .header_up{
        @include text(600, 14px, rgb(94, 94, 94));
        display: flex;
        justify-content: flex-start;
        padding: 9px 0px 9px 0px;
        border-bottom: 1px solid $bgcolor;


        .header_up_item{
            display: flex;
            align-items: center;
            gap: 12px;
            padding-left: 65px;
            padding-right: 65px;
            border-right: 1px solid $bgcolor;

            .up_icon{
                color: rgb(33, 111, 102);    
            }
        }

        .header_up_item:last-child{
            border: none;
        }
    }


    .header_nav{
        padding-left: 67px;
        padding-top: 35px;
        padding-bottom: 30px;
        @include text(400, 16px, rgb(94, 94, 94));
        .header_nav_list{
            display: flex;
            align-items: center;
            gap: 75px;

            .header_nav_list_link:hover{
                cursor: pointer;
                color: rgb(33, 111, 102);

            }
        }
    }

    .header_nav_list_text{
        font-family: Inter;
        font-weight: 400;
        font-size: 16px;
    }

    .header_center{
        border-right: 1px solid $bgcolor;
    }

    .header_right{
        @include text(400, 16px, rgb(94, 94, 94));
        border-left: 1px solid $bgcolor;
        padding-left: 5px;
        padding-right: 0px;
        @include flex-center;

        .header_right_text{
            font-family: Open Sans;
        }
    }

}


                                            // MAIN

@mixin dark_bgcolor{
    background-color: rgba(10, 56, 51, 0.648);
}                                            

@mixin text-color{
    color: rgb(255, 255, 255);
} 

                                            // SECTION_1
                                                                                    
.section_1{
    @include dark_bgcolor;
    // display: flex;

    .section_1_container1{
        width: 625px;
        padding-top: 205px;
        padding-left: 300px;
    }
}                                            

.section_1_text{
    @include text-color;

    .section_1_par1{
        font-family: Outfit;
        font-size: 14px;
        font-weight: 700;
        line-height: 18px;  
        text-align: left;
        margin-bottom: 15px;
    }
    
    .section_1_title{
        font-family: Outfit;
        font-size: 42px;
        font-weight: 700;
        line-height: 53px;    
        text-align: left;
        margin-bottom: 22px;
    }

    .section_1_par2{
        width: 428px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        text-align: left;
        margin-bottom: 56px;
    }
}

// .section_1_title_pos{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     padding-left: 600px;
//     padding-bottom: -200px;

// .section_1_title2{
//     color: rgb(2, 35, 31);
//     font-family: Inter;
//     font-size: 65px;
//     }
// }

.section_1_container2{

    .section_1_button{
        @include text-color;
        background: none;
        font-family: Outfit;
        font-size: 16px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0%;
        margin-bottom: 205px;
        text-align: center;
        height: 54px;
        width: 192px;
        border: none;
        border: 1px solid white;
    }
}


                                                        // SECTION_2

.section_2_container{
    background-color: rgba(0, 0, 0, 0.053);

}

.section_2_container{
    padding-left: 300px;
    padding-top: 115px;
    padding-bottom: 127px;

    .section_2_title{
        color: rgb(46, 46, 46);
        font-family: Outfit;
        margin-bottom: 22px;
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0%;
        text-align: left;
    }
        .section_2_par{
            color: rgb(94, 94, 94);
            font-family: Inter;
            width: 550px;
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
        }



.section_2_container_pos{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}        
    
        .section_2_button_pos{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 300px;
        padding-top: -300px;

            .section_2_button{
                color: rgb(33, 111, 102);
                font-family: Outfit;
                font-size: 16px;
                font-weight: 700;
                line-height: 20px;
                letter-spacing: 0%;
                text-align: center;
                background: none;
                border: 1px solid rgb(33, 111, 102);
                height: 54px;
                width: 192px;
            
            
            }

            
        }

        
    }

                                                        // SECTION_3


.section_3{
    background-color: rgb(255, 255, 255);
    padding-top: 130px;
    display: flex;
    justify-content: space-between;
    gap: 100px;

    .section_3_container1{
        flex-direction: column;
        padding-left: 100px;

        .section_3_title_container{
            width: 560px;
            height: 106px;
            margin-bottom: 45px;
            padding-top: 83px;

            .section_3_container1_title{
                color: rgb(46, 46, 46);
                font-family: Outfit;
                font-size: 42px;
                font-weight: 700;
                line-height: 53px;
                letter-spacing: 0%;
                text-align: right;
            }
        }

        .section_3_par_container{
            background-color: rgba(128, 128, 128, 0.212);
            width: 560px;
            height: 353px;
            

            .section_3_container1_par{
                color: black;
                font-size: 24px;
                text-align: center;
                padding-top: 170px;
                
            }
        }
        
    }

    .section_3_container2{
        background: rgb(10, 56, 51);
        padding-left: 102px;
        height: 587px;
        width: 960px;
        align-items: end;
        justify-content: end;
        margin-bottom: 100px;

        .section_3_container2_title{
            color: rgb(255, 255, 255);
            width: 316px;
            height: 106px;
            padding-top: 187px;
            margin-bottom: 26px;
            font-family: Outfit;
            font-size: 42px;
            font-weight: 700;
            line-height: 53px;
            letter-spacing: 0%;
            text-align: left;
        }

        .section_3_container2_par{
            color: rgb(255, 255, 255);
            width: 619px;
            height: 57px;
            margin-bottom: 57px;
            font-family: Inter;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: left;
        }

        .section_3_container2_but{
            background: none;
            border: 1px solid white;
            width: 289px;
            height: 54px;
            color: rgb(255, 255, 255);
            font-family: Outfit;
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}


    .baton_position{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        text-align: center;
        margin-bottom: -45px;
    }
        .baton{
            background-color: rgb(255, 255, 255);
            border-radius: 100px;
            border: none;
            width: 209px;
            height: 73px;
            color: rgb(46, 46, 46);
            font-family: Outfit;
            font-size: 40px;
            font-weight: 700;
            line-height: 50px;
            letter-spacing: 0%;
            text-align: center;
            padding-top: 20px;
        }


                                                                        // SECTION_4

.section_4{
    @include dark_bgcolor;
    height: 693px;
    
    .section_4_container_1{
        padding-top: 275px;

        .section_4_container_1_title{
            text-align: center;
            color: rgb(2, 35, 31);
            font-family: Inter;
            font-size: 65px;
        }
    }

    .section_4_container_2{
        
        .section_4_container_2_title{
            @include text-color;
            margin-top: 20px;
            font-family: Outfit;
            font-size: 28px;
            font-weight: 700;
            line-height: 35px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 21px; 
        }

        .section_4_container_2_par1{
            @include text-color;
            width: 683px;
            margin: 0 auto;
            font-family: Inter;
            font-size: 16px;
            font-weight: 300;
            line-height: 19px;
            letter-spacing: 0%;
            text-align: center;
            margin-bottom: 50px;
        }

        .section_4_container_2_par2{
            @include text-color;
            font-family: Outfit;
            font-size: 14px;
            font-weight: 700;
            line-height: 18px;
            letter-spacing: 0%;
            text-align: center;
        }
    }
}