@import 'variable';

.block{
    width: 500px;
    height: 300px;
    border: 1px solid black;

    .block_item{
        width: 200px;
        height: 100px;
        background-color: aqua;

        &:hover{
            background-color: $bg;
        }
    }
}